/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
application/bootstrap
application/node_modules
application/storage
application/vendor
application/.env
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
